html{
    scroll-behavior:smooth;
    padding:0 5px;
}

body{
    font-size: 14px;
    color: white;
    background-color: black;
}

h2{
    font-size: 30px;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
}

p{
    font-size: 20px;
    color: white;
    line-height: 1.5;
}

li{
    font-size: 20px;
    color: white;
    line-height: 1.5;
}

.header_bannner {
    display: flex;
    width: 100%;
    min-width:700px;
    height:400px;
    background:url(../img/banner1.jpg);
    background-size: cover;
    justify-content: center;
}

.about_us {
    display: flex;
    flex-flow: column wrap;
    margin: 80px 0 0 0;
}

.service {
    display: flex;
    flex-flow: column wrap;
    margin: 80px 0 0 0;
}

.price {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 500px;
    padding: 20px;
}

.container_razdela{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
}

.container_razdela div:last-child{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 500px;
    padding: 20px;
}

.about_us_pic{
    display: flex;
    background: url(../img/Nadezhnost.png);
    background-size:auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    min-height: 300px;
    padding: 20px;
}

.service_pic {
    display: flex;
    background: url(../img/price.png);
    background-size:auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    min-height: 300px;
    padding: 20px;
}

.container_razdela1{
    display: flex;
    flex-flow: row wrap-reverse;
    width: 100%;
    justify-content: center;
}

.price ul li:before{
    content: "";
    width: 25px;
    height: 25px;
    display: inline-block;
    background: url(../img/check.png) no-repeat;
    background-size: cover;
    margin-right: 10px;
}

.map{
    display: flex;
    flex-flow: column wrap;
    margin: 80px 0 0 0;
}

.map_pic {
    display: flex;
    background: url(../img/map1.jpg);
    background-size:auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    min-height: 300px;
    padding: 20px;
}

.speed{
    display: flex;
    flex-flow: column wrap;
    margin: 80px 0 0 0;
}

.speed_pic {
    display: flex;
    background: url(../img/speed.png);
    background-size:auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 500px;
    min-height: 300px;
    padding: 20px;
}
.contacts{
    display: flex;
    flex-flow: column wrap;
    margin: 80px 0 0 0;
}
.phone{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    font-size: 20px;
}
.phone_pic{
    background: url(../img/phone.png);
    width: 50px;
    height: 50px;
    background-size: cover;
    margin: 0 auto;
}
.phone_pic:hover{
    transform: rotate(-45deg);
    transition: 0.5s;
}
.phone_link{
    margin: auto 20px;
}
.phone_us {
    margin: auto 20px;
}
.phone_link:hover{
    margin-top: calc(+10px);
    text-shadow: 0px 10px 2px white;
}
.socseti {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: relative;
}
.vk {
    background: url(../img/vk.png);
    width: 75px;
    height: 75px;
    background-size: cover;
    margin: 10px 50px;
}
.vk:hover{
    transform: rotate(360deg);
    transition: 0.5s;
}
.whatsapp {
    background: url(../img/whatsapp.png);
    width: 75px;
    height: 75px;
    background-size: cover;
    margin: 10px 50px;
}
.whatsapp:hover{
    transform: rotate(360deg);
    transition: 0.5s;
}
.telegram {
    background: url(../img/telegram.png);
    width: 75px;
    height: 75px;
    background-size: cover;
    margin: 10px 50px;
}
.telegram:hover{
    transform: rotate(360deg);
    transition: 0.5s;
}
.instagram {
    background: url(../img/instagram.png);
    width: 75px;
    height: 75px;
    background-size: cover;
    margin: 10px 50px;
}
.instagram:hover{
    transform: rotate(360deg);
    transition: 0.5s;
}
.portfolio{
    display: flex;
    flex-flow: column wrap;
    margin: 80px 0 0 0;
}
.container_razdela2{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
}
/*Кнопка вверх*/

.to_the_moon {
    width:30px;
    height:30px;
    position:fixed;
    bottom:50px;
    right:50px;
    color:black;
}
.to_the_moon:hover{
    box-shadow: 0 0 10px yellow;
}
footer{
    margin: 80px 0 0 0;
    font-size: 14px;
    color: black;
    background: yellow;
    text-align: center;
}

.portfolio1{
    display:flex;
    flex-flow:row wrap;
    justify-content:center;

}
.portfolio1_block{
    display:flex;
    flex-flow:row wrap;
    max-width:510px;
    justify-content: center;
}
.portfolio1_block>div{
    width:150px;
    height:150px;
    border:1px solid black;
    margin:10px;
    box-shadow:0 0 3px 3px grey;
}
.portfolio1_block>div:hover{
    cursor:pointer;
    transform:scale(1.1, 1.1);
    transition:0.5s;
}
.container{
    border:1px solid black;
}

@media(max-width:720px){
    .container{
        width:100%;
        margin:0px auto;
        }
    .menu {
    display: none;
    }
    .menu_mobile{
        display: block;
    }
    .punkt{
        display: none;
    }
    .header_bannner {
        width: 100%;
        min-width: 320px;
        background-size: cover;
        background-repeat: no-repeat;
        height: 300px;
     }
    .phone{
        flex-flow: column wrap;
        align-content: center;
    }
    .socseti {
        flex-flow: row wrap;
    }
}